/*=============== GOOGLE FONTS ===============*/
/* logo fonts */
@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  /* body fonts */
  @font-face {
    font-family: 'SDSamliphopangche_Basic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Basic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  /*=============== CSS 변수 설정 ===============*/
  :root {
    --header-height: 3.5rem; /*56px*/
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --hue: 152;
    --first-color: hsl(var(--hue), 24%, 32%);
    --first-color-alt: hsl(var(--hue), 24%, 28%);
    --first-color-light: hsl(var(--hue), 24%, 66%);
    --first-color-lighten: hsl(var(--hue), 24%, 92%);
    --title-color: hsl(var(--hue), 4%, 15%);
    --text-color: hsl(var(--hue), 4%, 35%);
    --text-color-light: hsl(var(--hue), 4%, 55%);
    --body-color: hsl(var(--hue), 0%, 100%);
    --container-color: #FFF;
  
    /*========== Font ==========*/
    /*... 0.5rem = 8px | 1rem = 16px ...*/
    --logo-font: 'SDSamliphopangche_Outline';
    --body-font: 'SDSamliphopangche_Basic', serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /*========== Margin-bottom ==========*/
    /*... 0.5rem = 8px | 1rem = 16px ...*/
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;

    /*========== Web.version Grid ==========*/
    --column-width: 10rem;
    --gap: calc(var(--column-width)/10);
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  
  /* Responsive typography. 반응형 */
  @media screen and (min-width: 968px) {
    :root {
      --big-font-size: 3.5rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }
  
  /*=============== BASE ===============*/
  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  body,
  button,
  input,
  textarea{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
  }
  
  body{
    margin: var(--header-height) 0 0 0;
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .4s; /*For animation >> dark mode로 바뀔 때*/
  }
  
  button{
    cursor: pointer;
    border: none;
    outline: none;
  }
  
  h1,h2,h3{
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
  }
  
  ul{
    list-style: none;
  }
  
  a{
    text-decoration: none;
  }
  
  img{
    max-width: 100%;
    height: auto;
  }
  .hidden {
    position: absolute;
    left: -9999px;
  }
  
  /*=============== 테마 ===============*/
  /*========== 다크모드 ==========*/
  body.dark-theme{
    --first-color-dark: hsl(var(--hue), 8%, 20%);
    --title-color: hsl(var(--hue), 4%, 95%);
    --text-color: hsl(var(--hue), 4%, 75%);
    --body-color: hsl(var(--hue), 8%, 12%);
    --container-color: hsl(var(--hue), 8%, 16%);
  }
  
  /*========== Button Dark/Light ==========*/
  .change-theme{
    color: var(--title-color);
    font-size: 1.15rem;
    cursor: pointer;
  }
  
  .nav__btns{
    display: inline-flex;
    align-items: center;
    column-gap: 1rem;
  }
  
  /*========== 다크 모드에서 일부 색상 변경 ==========*/
  
  .dark-theme .promotion__bg,
  .dark-theme .incinerator{
    background-color: var(--first-color-dark);
  }
  
  .dark-theme .diary__circle,
  .dark-theme .footer__subscribe{
    background-color: var(--container-color);
  }
  
  .dark-theme .scroll-header{
    box-shadow: 0 1px 4px hsla(var(--hue), 4%, 4%, .3);
  }
  
  /*=============== 재사용 가능한 class ===============*/
  .section{
    padding: 1.5rem 0 1rem;
  }
  
  .section__title,
  .section__title-center{
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2);
    line-height: 140%;
  }
  
  .section__title-center{
    text-align: center;
  }
  
  .container{
    max-width: 968px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
  
  .grid{
    display: grid;
  }
  
  .main{
    overflow: hidden; /*For animation*/
  }
  
  /*=============== HEADER ===============*/
  .header{
    width: 100%;
    background-color: var(--body-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: .4s; /*For animation >> dark mode로 바뀔 때*/
  }
  
  /*=============== NAVIGATION ===============*/
  .nav{
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav__logo,
  .nav__toggle,
  .nav__close{
    font-family: var(--logo-font);
    font-size: var(--h2-font-size);
    color: var(--title-color);
  }
  
  .nav__logo{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    transition: .3s;
  }
  
  .nav__logo-icon{
    font-size: 1.15rem;
    color: var(--first-color);
  }
  
  .nav__logo:hover{
    color: var(--first-color);
  }
  
  .nav__toggle{
    display: inline-flex;
    font-size: 1.25rem;
    cursor: pointer;
  }

  /* 할 일 : login nav도 모바일 반응형에서 menu toggle 필요. 제이쿼리 하기 -승현- */
  .nav__menu-login {
    /* position: absolute;
    top: 10px;
    right: 1px;
    width: 400px;
    align-items: center; */

}
.nav__menu-login__ul {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.nav__menu-login .nav__menu-login__ul .nav__menu-login__li {
    float: left;
    padding: 0px 10px;
    height: 13px;
}

.nav__menu-login .nav__menu-login__ul .nav__menu-login__li .nav__menu-login__a {
    color: var(--first-color-light);
    font-size: var(--smaller-font-size);
}
.nav__menu-login .nav__menu-login__ul .nav__menu-login__li .nav__menu-login__a:hover {
  color: var(--first-color);
}
  /* 테블릿 반응형 */
  @media screen and (max-width: 767px){
    .nav__menu{
      position: fixed;
      background-color: var(--container-color);
      width: 80%;
      height: 100%;
      top: 0;
      right: -100%;
      box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, .1);
      padding: 4rem 0 0 3rem;
      border-radius: 1rem 0 0 1rem;
      transition: .3s;
      z-index: var(--z-fixed);
    }
  }
  
  .nav__close{
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
  }
  
  .nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  
  .nav__link{
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .3s;
  }
  
  .nav__link:hover{
    color: var(--first-color);
  }
  
  /* Show menu. 메뉴 보여주기 */
  .show-menu{
    right: 0;
  }
  
  /* header 배경 바뀌기 */
  .scroll-header{
    box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, .1);
  }
  
  /* Active link */
  .active-link{
    position: relative;
    color: var(--first-color);
  }
  
  .active-link::after{
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: var(--first-color);
  }
  
  
  /*=============== BUTTONS ===============*/
  .button{
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 1rem 1.75rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .3s;
  }
  
  .button:hover{
    background-color: var(--first-color-alt);
  }
  
  .button__icon{
    transition: .3s;
  }
  
  .button:hover .button__icon{
    transform: translateX(.25rem);
  }
  
  .button--flex{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
  }
  
  .button--link{
    color: var(--first-color);
    font-weight: var(--font-medium);
  }
  
  .button--link:hover .button__icon{
    transform: translateX(.25rem);
  }

  /* ============================== */
  
  .myDrawer{
    padding: 4.85rem 0 2rem;
  }
  
  .userInfo__container{
    /* position: relative;
    row-gap: 2rem; */
    display: flex;
    justify-content: space-around;
  }

  .userInfo__title {
    width: 10rem;
    height: 3rem;
    text-align: center;
    margin: 0.5rem 6rem;
    padding-top: .75rem;
    font-size: var(--h2-font-size);
    background-color: var(--first-color-lighten);
    color: var(--text-color);
    border: 2px solid var(--first-color);
    border-radius: 10px;
  }
  
  .userInfo__img{
    width: 200px;
    justify-self: center;
  }

  .userInfo__infoBox {
    width: 25rem;
  }
  
  .userInfo__information {
    
    font-size: var(--normal-font-size);
    line-height: 20%;
    margin-bottom: var(--mb-1);
  }
  
  .userInfo__information-detail {
    color: var(--first-color-dark);
    width: 8rem;
    text-align: center;
    border-bottom: 1px solid var(--first-color);
  }
  .userNickname {
    width: 5rem;
    height: 2rem;
    box-shadow: 1px solid var(--first-color);
  }
  .myDrawerUserInfo {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 3rem;
  }
  .userInfo__infoTitle {
    width: 6.5rem;
    height: 5rem;
    font-size: var(--h3-font-size);
    color: #000;
    background-color: var(--first-color-lighten);
    /* margin-right: 2rem; */
    border-bottom: 1px solid var(--first-color);

  }

  .update_password, .update_nickname {
    text-align: left;
  }

  /* 수정 버튼 */
  .thinking-answer__revise_btn,
  .update_btn {
    width: 3.5rem;
    height: 1.5rem;
    border: 2px solid var(--first-color);
    border-radius: 20px;
    background-color: var(--first-color-lighten);
    font-size: var(--small-font-size);
  }

  /* 오른쪽 하트 얻기 */
  .userInfo__heart{
    position: relative;
    top: 2rem;
    right: -1rem;
    display: grid;
    justify-items: center;
    row-gap: 3.5rem;
  }
  
  .userInfo__heart-get{
    font-weight: var(--font-medium);
    font-size: var(--smaller-font-size);
    color: var(--first-color);
    position: relative;
    transform: rotate(90deg);
  }
  
  .userInfo__heart-get::after{
    content: '';
    position: absolute;
    width: 1rem;
    height: 2px;
    background-color: var(--first-color);
    right: -30%;
    top: 50%;
  }
  
  .userInfo__heart-links{
    display: inline-flex;
    flex-direction: column;
    row-gap: .25rem;
  }
  
  .userInfo__heart-link{
    font-size: 1rem;
    color: var(--first-color);
    transition: .3s;
  }
  
  .userInfo__heart-link:hover{
    transform: translateX(.25rem);
  }
  /*=============== 나의 서랍 ===============*/
  .myDrawer {
    
  }

  .myDrawer__title {
    text-align: center;
    font-size: var(--h2-font-size);
    padding-top: var(--mb-1);
  }

  .userInfo {

  }

  .userInfo__information  {

  }

  .userInfo__infoBox {

  }

  .userInfo__infomation {

  }

  .userInfo__infomation-detail {

  }

  .userInfo__infoTitle {

  }

  /* === 나의 서랍 달력 === */
  .myPuzzle__h3 {
    text-align: center;
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-2);
  }
  .myPuzzle__dateBtn {
    width: 20rem;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-bottom: var(--mb-2);
  }

  /* 이전 버튼 */
  .myPuzzle__preBtn {
    width: var(--big-font-size);
    text-indent: -9999px;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    background: none;
    background-image: url(../img/arrow-left-s-line.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }
  
  /* 이후 버튼 */
  .myPuzzle__postBtn {
      width: var(--big-font-size);
      text-indent: -9999px;
      width: 2.5rem;
      height: 2.5rem;
      border: none;
      background: none;
      background-image: url(../img/arrow-right-s-line.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

    }
  /* 년 월 날짜 */
  .myPuzzle__date {
    margin: auto;
    font-size: var(--h3-font-size);
  }

  /* 나의 퍼즐 월별 현황 */
  .myMonthPuzzle {
    width: 57.5rem;
    height: 28.125rem;
    margin: auto;
  }
  .myDrawer_datePuzzle {
    display: block;
  }
  .myMonthPuzzle__nowPuzzle {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    /* gap: var(--gap); */
    width: 100%;
    height: 100%;
    background-color: var(--body-color);
    overflow: hidden;
    /* padding-top: 0.8rem; */
    background-image: url(../img/2201-lookingWindowAto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .myMonthPuzzle .pz-tf_df {
    background: url(../img/tf_df3.PNG) no-repeat center/ cover;
    width: 100%;
    height: 100%;
  }

  .myMonthPuzzle .pz-tt_df {
  background: url(../img/tt_df3.PNG) no-repeat center/ cover;
  width: 100%;
  height: 100%;
  }

  .myMonthPuzzle .pz-tf_dt {
  background: url(../img/tf_dt3.PNG) no-repeat center/ cover;
  width: 100%;
  height: 100%;
  }

  .myMonthPuzzle .pz-tt_dt {
  background: url(../img/tt_dt.PNG) no-repeat center/ cover;
  width: 100%;
  height: 100%;
  }
  
  .exampleDiv {
    position: absolute;
    bottom: -38rem;
    display: flex;
    /* justify-items: lft; */
    justify-content: space-between;
  }

  .exampleDiv .pz-tf_df {
    width: 9.5rem;
    height: 5.5rem;
  }

  .exampleDiv .myPuzzle___mustRead {
    color: var(--first-color);
    margin: auto;
    padding-left: 3rem;
  }

  /* === 보관함 === */
  .storage {
    padding-top: 5rem;
    height: 28rem;
  }

  .storage__toggleBtn {
    width: 7rem;
    height: 3rem;
    text-align: center;
    margin: 3rem 27rem 0 27rem;
    font-size: var(--h2-font-size);
    background-color: var(--first-color-lighten);
    color: var(--text-color);
    border: 2px solid var(--first-color);
    border-radius: 10px;
  }
  .storage__toggleBtn:hover {
    background-color: var(--first-color);
    color: #fff;
  }
  

  /* change color of titles and background. 제목, 배경색상 변경 */
  .accordion-open .incinerator__header,
  .accordion-open .incinerator__content{
    background-color: var(--first-color);
  }
  
  .accordion-open .incinerator__item-title,
  .accordion-open .incinerator__description,
  .accordion-open .incinerator__icon{
    color: #FFF;
  }
  
  /* Rotate icon. 아이콘 회전 */
  .accordion-open .incinerator__icon{
    transform: rotate(45deg);
  }
  
 
  /*Input focus가 label 위로 이동*/
  .contact__input:focus + .contact__label{
    top: -.75rem;
    left: 0;
    font-size: var(--smaller-font-size);
    z-index: 10;
  }
  
  /*Input focus sticky 상단 label*/
  .contact__input:not(:placeholder-shown).contact__input:not(:focus) + .contact__label{
    top: -.75rem;
    font-size: var(--smaller-font-size);
    z-index: 10;
  }
  
  /*=============== FOOTER ===============*/
  .footer__container{
    row-gap: 3rem;
  }
  
  .footer__logo{
    font-family: var(--logo-font);
    font-size: var(--h2-font-size);
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--title-color);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: var(--mb-2-5);
    transition: .3s;
  }
  
  .footer__logo-icon{
    font-size: 1.15rem;
    color: var(--first-color);
  }
  
  .footer__logo:hover{
    color: var(--first-color);
  }
  
  .footer__title{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1-5);
  }
  
  .footer__subscribe{
    background-color: var(--first-color-lighten);
    padding: .75rem;
    display: flex;
    justify-content: space-between;
    border-radius: .5rem;
  }
  
  .footer__input{
    width: 70%;
    padding: 0 .5rem;
    background: none;
    color: var(--text-color);
    border: none;
    outline: none;
  }
  
  .footer__button{
    padding: 1rem;
  }
  
  .footer__data{
    display: grid;
    row-gap: .75rem;
  }
  
  .footer__information{
    font-size: var(--small-font-size);
  }
  
  .footer__social{
    display: inline-flex;
    column-gap: .75rem;
  }
  
  .footer__social-link{
    font-size: 1rem;
    color: var(--text-color);
    transition: .3s;
  }
  
  .footer__social-link:hover{
    transform: translateY(-.25rem);
  }
  
  .footer__cards{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
  }
  .footer__card{
    width: 35px;
  }
  
  .footer__copy{
    text-align: center;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    margin: 5rem 0 1rem;
  }
  
  /*=============== SCROLL UP ===============*/
  .scrollup{
    position: fixed;
    background-color: var(--first-color);
    right: 1rem;
    bottom: -30%;
    display: inline-flex;
    padding: .5rem;
    border-radius: .25rem;
    z-index: var(--z-tooltip);
    opacity: .8;
    transition: .4s;
  }
  
  .scrollup__icon{
    font-size: 1rem;
    color: #FFF;
  }
  
  .scrollup:hover{
    background-color: var(--first-color-alt);
    opacity: 1;
  }
  
  /* Show Scroll Up. 위로 스크롤 표시*/
  .show-scroll{
    bottom: 3rem;
  }
  
  /*=============== SCROLL BAR. 스크롤바 css ===============*/
  ::-webkit-scrollbar{
    width: .6rem;
    background: hsl(var(--hue), 4%, 53%);
  }
  
  ::-webkit-scrollbar-thumb{
    background: hsl(var(--hue), 4%, 29%);
    border-radius: .5rem;
  }
  
  /*=============== BREAKPOINTS. 반응형 ===============*/
  /* For small devices */
  @media screen and (max-width: 320px){
    .container{
      margin-left: var(--mb-1);
      margin-right: var(--mb-1);
    }
  
    .userInfo__img {
      width: 180px;
    }
    .userInfo__information {
      font-size: var(--h1-font-size);
    }
  
    .promotion__bg{
      padding: 2rem 1rem;
    }
    .promotion__card{
      padding: 1.5rem;
    }
  
    .diary__container{
      grid-template-columns: .6fr;
      justify-content: center;
    }
  }
  
  /* For medium devices */
  @media screen and (min-width: 576px){
    .promotion__container{
      grid-template-columns: repeat(2, 1fr);
    }
  
    .diary__description{
      padding: 0 4rem;
    }
    .diary__container{
      grid-template-columns: repeat(2, 170px);
      justify-content: center;
      column-gap: 5rem;
    }
  
    .footer__subscribe{
      width: 400px;
    }
  }
  
  @media screen and (min-width: 767px){
    body{
      margin: 0;
    }
  
    .nav{
      height: calc(var(--header-height) + 1.5rem);
      column-gap: 3rem;
    }
    .nav__toggle,
    .nav__close{
      display: none;
    }
    .nav__list{
      flex-direction: row;
      column-gap: 2rem;
    }
    .nav__menu{
      margin-left: auto;
    }
  
    .userInfo__container,
    .thinking__container,
    .incinerator__container,
    .contact__container,
    .footer__container{
      grid-template-columns: repeat(2, 1fr);
    }
    
    .userInfo{
      padding: 10rem 0 5rem;
    }
    .userInfo__container{
      align-items: center;
    }
    .userInfo__img {
      width: 280px;
      order: 1;
    }
    .userInfo__social{
      top: 30%;
    }
  
    .incinerator__container{
      align-items: flex-start;
    }
  
    .footer__container{
      column-gap: 3rem;
    }
    .footer__subscribe{
      width: initial;
    }
  }
  
  /* For large devices */
  @media screen and (min-width: 992px){
    .container{
      margin-left: auto;
      margin-right: auto;
    }
  
    .section{
      /* padding: 8rem 0 1rem; */
    }
    .section__title,
    .section__title-center{
      font-size: var(--h1-font-size);
    }
  
    .userInfo{
      padding: 13rem 0 5rem;
    }
    .userInfo__img {
      width: 350px;
    }
    .userInfo__information-detail {
      /* padding-right: 7rem; */
    }
  
    .thinking__img{
      width: 380px;
    }
  
    .promotion__container{
      grid-template-columns: repeat(3, 1fr);
    }
    .promotion__bg{
      padding: 3.5rem 2.5rem;
    }
    .promotion__card-title{
      font-size: var(--normal-font-size);
    }
  
    .diary__description{
      padding: 0 16rem;
    }
    .diary__container{
      padding: 4rem 0;
      grid-template-columns: repeat(3, 185px);
      gap: 4rem 6rem;
    }
    .diary__img{
      width: 160px;
    }
    .diary__circle{
      width: 110px;
      height: 110px;
    }
    .diary__title,
    .diary__hashtag{
      font-size: var(--normal-font-size);
    }
  
    .incinerator__container{
      padding: 1rem 0 4rem;
    }
    .incinerator__title{
      text-align: initial;
    }
    .incinerator__group{
      row-gap: 2rem;
    }
    .incinerator__header{
      padding: 1rem;
    }
    .incinerator__description{
      padding: 0 3.5rem 2.25rem 2.75rem;
    }
  
    .footer__logo{
      font-size: var(--h3-font-size);
    }
    .footer__container{
      grid-template-columns: 1fr .5fr .5fr .5fr;
    }
    .footer__copy{
      margin: 7rem 0 2rem;
    }
  }
  
  @media screen and (min-width: 1200px){
    .userInfo__social{
      right: -3rem;
      row-gap: 4.5rem;
    }
    .userInfo__social-follow{
      font-size: var(--small-font-size);
    }
    .userInfo__social-follow::after{
      width: 1.5rem;
      right: -60%;
    }
    .userInfo__social-link{
      font-size: 1.15rem;
    }
  
    .thinking__container{
      column-gap: 7rem;
    }
  
    .scrollup{
      right: 3rem;
    }
  }